.modal-content .modal-header {
  background-color: #3b5998;
  color: floralwhite; }
  .modal-content .modal-header .close {
    color: floralwhite; }

.modal-content .modal-body {
  background-color: #d9dcf6; }
