$headerbgColor: #3b5998;
$textColor: floralwhite;
$bodyBgColor: #d9dcf6;

.modal-content {
  .modal-header {
    background-color: $headerbgColor;
    color: $textColor;
    .close {
      color: $textColor;
    }
  }
  .modal-body {
    background-color: $bodyBgColor;
  }
}
